.form {
  width: 40%;
}
.form2 {
  width: 60%;
}
.form,
.form2 {
  /* background-color: aquamarine; */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form > label,
.form2 > label {
  padding: 10px;
}
.form > label {
  font-size: 1.4rem;
}
.form2 > label {
  font-size: 1.1rem;
  /* background-color: pink; */
}
.form > input[type="text"],
.form2 > input[type="text"] {
  padding: 10px;
}
.form > input[type="text"] {
  width: 65%;
}
.form2 > input[type="text"] {
  width: 20%;
}
.form > input[type="submit"],
.form2 > input[type="submit"] {
  width: 20%;
  padding: 10px;
  background-color: azure;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10px;
}
